<div id="<%= dom_id facility %>">
  <div>
    <strong>Name:</strong>
    <%= facility.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= facility.description %>
  </div>

  <div>
    <strong>Capacity:</strong>
    <%= facility.capacity %>
  </div>

  <div>
    <strong>Available:</strong>
    <%= facility.available %>
  </div>

</div>
