<div id="<%= dom_id reservation %>">
  <div>
    <strong>Facility:</strong>
    <%= reservation.facility_id %>
  </div>

  <div>
    <strong>User name:</strong>
    <%= reservation.user_name %>
  </div>

  <div>
    <strong>User email:</strong>
    <%= reservation.user_email %>
  </div>

  <div>
    <strong>Start time:</strong>
    <%= reservation.start_time %>
  </div>

  <div>
    <strong>End time:</strong>
    <%= reservation.end_time %>
  </div>

  <div>
    <strong>Purpose:</strong>
    <%= reservation.purpose %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= reservation.status %>
  </div>

</div>
